-# encoding: utf-8
- content_for :head do
  =stylesheet_link_tag 'supersized', 'stays/new'
  = javascript_include_tag 'stays/new'
  
#textHome
  = link_to image_tag( 'image-1.png'), 'http://www.google.fr', :class => 'vignette'
  %h1.residence
    Résidence Goldwyn
  %p.intro 
    Un espace de prestige situé dans les quartiers résidentielle de la Croisette, Côte d'azur. Une prestation adapté à vos besoins, business, séjour, etc...
    = link_to "Découvrir la Résidence", 'http://www.google.fr', :class => 'linkedin'

//%a#prevslide.load-item
//%a#nextslide.load-item