%div.resa
	%h1 S'enregistrer en tant que :
	%div.particulier
		= link_to "Particulier", new_user_registration_path
	%div.pro
		= link_to "Vous êtes une agence ?", agencies_sign_in_path
	%div.clear
	%div.infogeneral
		%span.cgv 
			Toutes réservations effectuée sur le site www.residencegoldwyn.fr seront pris en considération instantanément et de manière prioritaire sur les réservations téléphonique ou par agence après règlement de votre réservation. Nous vous invitons à lire attentivement les 
		= link_to "conditions générales de ventes", cgv_path