.resa
	%h1.cgv 
		Conditions générales de ventes
		%h2 
			Réservations
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer			
		%h2 
			Réservations
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer
		%h2 
			Réservations
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer
		%h2 
			Réservations
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer
			%p 
				Available from 23rd to 21st August 2012. Subject to availability. Enjoy al fresco dining and true gastronomic experience in our restaurant Cavall Bernat, 1 free dinner for all stays of 4 nights and longer