Si vous confirmer ce mode de paiement, veuillez noter les informations ci dessous et effectuer un virement bancaire sous 7 jours :

RIB 

= image_tag "/assets/rib.gif"

= "Libéllé du virement : Sejour n°#{@stay.id} + Votre Nom"

= link_to "Confirmation", stays_waiting_for_transfer_path