div.signup{
	width:900px;
	margin:auto;
}
.new_user label{
	width:200px;
	text-align:right;
	line-height:25px;
	display:block;
	float:left;
	padding-right:10px;
}
.new_user div{clear:both; zoom:1;}
.new_user{padding-top:15px;}
h2{
	padding:20px;
	text-align: center;
}
.clear{clear:both;}
#error_explanation{
	color:#c00;
}