/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./default
 *= require_tree ./ui-darkness
 */
.resa{
	min-height:400px;
}
.particulier, .pro{
	float:left;
	width:250px;
}
.general{
	width:900px;
	margin:50px auto;
	min-height: 400px;
}

.particulier a, .pro a, .connect a{
	display:block;
	width:200px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background:#c00;
	margin-top:10px;
	margin-bottom:10px;
}
.imgLog{
	margin-bottom: 10px;
}
.signup{
	margin-bottom:50px;
}
.infogeneral{
	margin-top:25px;
}
input[type=submit]{
	background: #ffae00;
	padding:10px 20px;
	margin-bottom:20px;
	border:0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#fff;
	font:bold 12px Arial, Helvetica, Tahoma;
	cursor:pointer;
}
input[type=submit]:hover{
	background: #ff9000;
}
input[type=submit].cb{
	background: url(/assets/cb_logo.png) no-repeat left center transparent;
	height:200px;
	margin:10px auto;
	padding-left:300px;
	color:#333;
	display:block;
	font-size: 1.6em;
}
.price{color:#333; font:bold 18px Arial, Helvetica, Tahoma; margin-bottom:5px;}
.price .labelPrice{
	font-size: 14px;
	font-weight: normal;
	color:#000;
}
#week-picker{
	display:none;
	position:absolute;
	top: 60px;
	left: 200px;
}
.new_user{
	width:520px;
	float:left;
	display:block;
	padding-left:10px;
	border-left:1px solid #ccc;
}
.new_user input[type=search], .new_user input[type=text], .new_user input[type=password], , .new_user input[type=tel]{
	width:170px;
}

.btnvalid{padding-left:120px;}

.lbl{
	float:left;
	width:300px;
}
div.backto a{
	display:block;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background:#c00;
}
.adress textarea{
	height:35px;
	width:170px;
}
input[type="text"], input[type="search"], input[type="mail"], textarea{
	border:1px solid #ccc;
}